@tailwind base;
@tailwind components;
@tailwind utilities;

.success {
  --tw-bg-opacity: 1;
  background-color: rgb(167 243 208 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(52 211 153 / var(--tw-border-opacity));
}

.error {
  --tw-bg-opacity: 1;
  background-color: rgb(52 211 153 / var(--tw-border-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(52 211 153 / var(--tw-border-opacity));
}