[tool.isort]
profile = 'django'
verbose = false
skip_gitignore = true
skip_glob = ['**/migrations/*.py']
extend_skip = ['.md', '.json', '.css', '.js', '.sh']
include_trailing_comma = true
color_output = true
remove_redundant_aliases = true
force_sort_within_sections = true
use_parentheses = true
lines_between_types = 1
wrap_length = 1

[tool.black]
line-length = '80'
exclude = ['**/migrations/*.py']

[tool.coverage.run]
include = ['budgetapp/*']
omit = ['**/migrations/*.py', 'tests']
plugins = ['django_coverage_plugin']

[tool.coverage.django_coverage_plugin]
template_extensions = 'html, txt, tex, email'

[tool.pylint.'MESSAGES CONTROL']
disable=['fixme', 'too-few-public-methods', 'too-many-arguments', 'too-many-function-args']
good-names=['pk', 'k']

[tool.pylint.MASTER]
load-plugins = ['pylint_django']
django-settings-module='budgetapp.settings.development'

[tool.pylint.similarities]
min-similarity-lines=10
ignore-docstrings='yes'
ignore-comments='yes'
ignore-imports='yes'

[tool.mypy]
plugins = ["mypy_django_plugin.main"]
python_version = "3.9"
ignore_missing_imports = true
warn_return_any = true
warn_unused_configs = true
exclude = ["budgetapp/contrib", "tests", "gunicorn.conf.py"]

[tool.django-stubs]
django_settings_module = "budgetapp.settings.development"
