{% extends "base_budget.html" %}

{% load static %}

<!-- The main content -->
{% block content %}
  {{ block.super }}

  <div id="home-content" class="px-4 2xl:container h-5/6">

    <div class="bg-gray-50 dark:bg-zinc-800 rounded-md h-full grid auto-rows-max md:auto-rows-auto md:grid-cols-[1fr_3fr] lg:grid-cols-[1fr_5fr]">
      {% include "budgets/_navbar.html" %}

      <div id="main-content" class="p-4 rounded-md h-full">

        <h1>Content</h1>

      </div>

    </div>

  </div>

{% endblock content %}
