<nav class="bg-gray-200 shadow-lg">

  <div class="container p-6 max-w-screen-2xl flex justify-between">
    {# Logo #}
    <div>
      <a href="{% url 'index' %}">
        <h1 class="font-bold text-blue-500 text-xl">BUDGET APP</h1>
      </a>
    </div>
    {# Menu #}
    <ul class="flex space-x-4 text-lg">
      <li class="hover:text-blue-500">
        <a hx-get="{% url 'users:register' %}" hx-target="#content" href="#">Login</a>
      </li>
      <li class="hover:text-blue-500">
        <a hx-get="{% url 'users:register' %}" hx-target="#content" href="{% url 'index' %}">Register</a>
      </li>
    </ul>
  </div>

</nav>
