<nav class="border shadow-md m-4 rounded-md">

  <div class="p-6 flex justify-between">
    {# Logo #}
    <div>
      <a href="{% url 'home' %}">
        <h1 class="font-bold text-blue-500 text-xl">BUDGET APP</h1>
      </a>
    </div>
    {# Menu #}
    <ul class="flex space-x-4">

      {% if not request.user.is_authenticated %}
      <li class="hover:text-blue-500">
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li class="hover:text-blue-500">
        <a href="{% url 'users:login' %}">Login</a>
      </li>
      <li class="hover:text-blue-500">
        <a href="{% url 'users:register' %}">Register</a>
      </li>
      {% endif %}

      {% if request.user.is_authenticated %}
        <li class="hover:text-blue-500">
          <a href="{% url 'budgets:home' %}">Budgets</a>
        </li>
        <li class="hover:text-blue-500">
          <a href="{% url 'users:logout' %}">Logout</a>
        </li>
      {% endif %}

    </ul>
  </div>

</nav>
