{% extends 'base.html' %}

<!-- Load stylesheet from base.html -->
{% block stylesheet %}
  {{ block.super }}
{% endblock stylesheet %}

<!-- Load the scripts in header from base.html -->
{% block header_script %}
  {{ block.super }}
{% endblock header_script %}

<!-- Page title -->
{% block title %}Budget App{% endblock title %}

<!-- Page header from base.html -->
{% block header %}
  {{ block.super }}
  <div class="p-4">
    {% include "_theme.html" %}
  </div>
{% endblock header %}

<!-- The main content -->
{% block content %}
  <!-- Messages -->
  {% if messages %}
    {% include "_messages.html" with messages=messages %}
  {% endif %}
{% endblock content %}

<!-- Page footer form base.html -->
{% block footer %}
  {{ block.super }}
{% endblock footer %}

<!-- Footer scripts -->
{% block footer_script %}
  {{ block.super }}
{% endblock footer_script %}
