{% extends "base.html" %}
{% load static %}

{% block title %} Personal Budget App {% endblock title %}

{% block content %}

<div class="h-screen">

  <div class="container p-6 h-full grid gap-6 max-w-screen-2xl">

    {# Intro #}
    <div>

      <div class="space-y-4 tracking-wider">
        <h1 class="text-6xl text-blue-700 font-bold uppercase">Personal Budget App</h1>
        <h2 class="text-2xl">Create and manage your personal finances using budgets</h2>
      </div>

      <div>

      </div>

    </div>

  </div>

</div>

{% endblock content %}
